
.title,
.subtitle {
	text-align: center;
}

.subtitle {
	margin-bottom: 2rem;
}

.slider_wrapper {
	position: relative;
}

.slider_wrapper .slider {
	width: calc(100% + 40px);
	padding: 20px;
	margin-inline: -20px;
	overflow: visible;

	cursor: grab;
}

.head {
	margin-bottom: 2rem;
}

.head_row {
	display: flex;

	flex-wrap: wrap;

	row-gap: 1.5rem;

	align-items: center;

	width: calc(100% + 2rem);
	margin-inline: -1rem;
}

.head_col {
	padding-inline: 1rem;
}

.head_col._col_title {
	margin-right: auto;
}

.head_col._col_btns {
	display: flex;

	gap: 1rem;

	align-items: center;
}

/* .row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 1rem;
	width: calc(100% + 1rem);
	margin-inline: -.5rem;
}
.col {
	flex: 0 0 25%;
	padding-inline: .5rem;
} */
