.rating {
	display: flex;

	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--text-color-secondary);
}

.wrap {
	position: relative;
}

.stars {
	display: flex;

	align-items: center;
}

.stars._filled {
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
}

.stars svg {
	width: 1rem;
	height: 1rem;
}

.stars._gray svg {
	fill: var(--gray-300);
}

.stars._filled svg {
	fill: var(--gold-primary);
}


