.btn {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 3rem;
	height: 3rem;

	background-color: var(--text-color-primary);
	border-radius: 50%;

	transition: all .4s ease;
}

.btn:hover {
	background-color: var(--text-color-primary-hover);
}

.icon svg {
	display: block;

	width: 1.5rem;
	height: 1.5rem;

	fill: var(--bg-primary);

	transition: all .4s ease;
}

.btn._prev .icon svg {
	margin-right: 3px;

	transform: rotate(90deg);
}

.btn._next .icon svg {
	margin-left: 3px;

	transform: rotate(-90deg);
}