.logo {
	position: relative;
	display: block;
	width: fit-content;
	padding-left: .3em;
	font-size: 3.375em;
	color: var(--text-color-primary);
	transition: all .35s ease;
}

.logo_value_absolute {
	position: absolute;
	top: 50%;
	left: 1em;
	display: block;
	font-size: .35em;
	font-weight: 300;
	transform: translate(-75%, -50%) rotate(-90deg);
	transform-origin: center;
}

@media (width >= 1024px) {
	.logo:hover {
		color: var(--text-color-primary-hover);
	}
}

@media (width <= 576px) {
	.logo {
		font-size: 2.75em;
	}
}