/* .nav { */

/* } */

/* .nav_wrap { */

/* } */

.nav_list {
	display: flex;
	align-items: center;
	width: calc(100% + 2rem);
	margin-inline: -1rem;
}

.nav_item {
	padding-inline: 1rem;
}

.nav_link {
	display: block;
	width: fit-content;
}

.nav_link:first-child {
	font-weight: 300;
	text-transform: uppercase;
	transition: all .3s ease;
}

@media (width <= 992px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1100;
		width: 100%;
		height: 100%;
		max-height: 100%;
		pointer-events: none;
		visibility: hidden;
		background-color: rgb(0 0 0 / 35%);
		opacity: 0;
		transition: all .5s ease;
	}

	.nav._show {
		pointer-events: all;
		visibility: visible;
		opacity: 1;
	}

	.nav_wrap {
		width: 100%;
		max-width: 375px;
		height: 100%;
		max-height: 100%;
		padding-inline: 1.5em;
		padding-top: calc(20px + var(--header-offset-height));
		padding-bottom: 30px;
		overflow-y: auto;
		background-color: var(--bg-primary);
		transition: all .5s ease;
		transform: translateX(calc(-100% - 10px));
	}

	.nav._show .nav_wrap {
		transform: translateX(0);
	}

	.nav_list {
		flex-direction: column;
		gap: 1em;
		align-items: flex-start;
	}

	.nav_link {
		font-size: 2em;
	}
}