*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul,
ol,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--text-color-primary-hover);
	text-decoration: none;
}

button {
	padding: 0;
	background-color: initial;
	border: none;
	cursor: pointer;
	color: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: none;
}

section {
	position: relative;
}

input,
select,
button,
textarea {
	font: inherit;
	color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
}

fieldset {
	margin: 0;
	padding: 0;
	min-inline-size: min-content;
	border-width: 0;
	border-style: none;
	border-color: transparent;
	border-image: none;
}