:root {
	/* Base */
	--white: #fff;
	--black: #000;

	/* Gold */
	--gold-primary: #B88E2F;

	/* Gray */
	--gray-200: #dedede;
	--gray-300: #bbbbbb;
	--gray-800: #333;

	/* Blue */
	--blue-500: #69b1ff;

	/* Layout */
	--bg-primary: var(--white);

	/* Topography */
	--font-primary: "Poppins", sans-serif;
	--font-size: 16px;
	--text-color-primary: var(--gray-800);
	--text-color-primary-hover: var(--blue-500);
	--text-color-secondary: var(--gray-300);
	--text-color-secondary-hover: var(--blue-500);
	@media (max-width: 1200px) {
		--font-size: 14px;
	}

	/* System variables */
	--header-offset-height: 65px;
	--current-scrollbar-width: 0px;
}