.section {
	container-type: inline-size;
}

.wrapper {
	display: flex;

	row-gap: 2rem;

	width: calc(100% + 4rem);
	padding-block: 6rem;
	margin-inline: -2rem;
}

.picture,
.descr {
	flex: 0 0 50%;

	width: 50%;
	padding-inline: 2rem;
}

.picture {
	display: flex;

	align-items: center;
	justify-content: center;
}

.picture img {
	width: 100%;
	max-width: 350px;
	height: auto;
	object-fit: contain;
}

.descr {
	display: flex;

	flex-direction: column;

	gap: 2rem;
}

.title {
	font-size: 3rem;
	font-weight: 400;
}

.price {
	font-size: 1.5rem;
	font-weight: 500;
}

@container (width < 768px) {
	.wrapper {
		flex-direction: column;

		padding-block: 3rem;
	}

	.picture,
	.descr {
		flex: 0 0 100%;

		width: 100%;
	}

	.descr {
		gap: 1rem;
	}

	.title {
		font-size: 1.5rem;
	}

	.price {
		font-size: 1.25rem;
	}
}